<div>
    <div>
    <h1>Edit Product</h1>
    </div>
    
    <form name="editForm" ng-submit="econ.edit()" autocomplete="off" novalidate>

        <!-- Creates button used to submit data -->
        <div class="form-group">
            <!-- The <button> type attribute specifies the behavior of the button. A button with type=submit submits
             form data to the server -->

            <div>
            
            <div>
                <table>
                    <tr>
                        <th size="1">Product ID&emsp;</th>
                        <th size="1">Upc12&emsp;</th>
                        <th size="1">Brand&emsp;</th>
                        <th size="1">Name&emsp;</th>
                    </tr>
                <tr>
                <td>{{ econ.result.id }}&emsp;</a></td>
                <td><input type="text" class="form-control" ng-model="econ.result.upc12">&emsp;</td>
                <td><input type="text" class="form-control" ng-model="econ.result.brand">&emsp;</td>
                <td><input type="text" class="form-control" ng-model="econ.result.name">&emsp;</td>
                </tr>
                </table>
            </div>
            

        </div>
        </div>

        <br/>

        <button type="submit" class="btn-success form-control">
                Edit Product
            </button>


    </form>
</div>
