<div>
    <div>
    <h1>Product Search</h1>
    </div>
    
    <form name="searchForm" ng-submit="con.search()" autocomplete="off" novalidate>
        <div class="form-group">

            <label for="Search">Search for Brand or Product:</label>

            <input type="text" id="search" name="search"
                   class="form-control"
                   ng-model="con.searchString">

        </div>

        <br/>
        <!-- Creates button used to submit data -->
        <div class="form-group">
            <!-- The <button> type attribute specifies the behavior of the button. A button with type=submit submits
             form data to the server -->

            <!-- ng-disable removes the ability to submit the button -->
            <!-- regForm.$invalid checks if the input is all valid -->
            <button type="submit" class="btn-success form-control">
                Search
            </button>

            <div>
            <h3>Search Results</h3>
            
            <div>
                <table>
                    <tr>
                        <th>Product ID</th>
                        <th>Upc12</th>
                        <th>Brand</th>
                        <th>Name</th>
                    </tr>
                <tr ng-repeat="prod in con.products">
                <td><a ng-click="con.selectOne(prod.id)">{{prod.id}}</a></td>
                <td><img src="http://www.barcodes4.me/barcode/c128a/{{prod.upc12}}.png?IsTextDrawn=1"/></td>
                <td>{{prod.brand}}</td>
                <td>{{prod.name}}</td>
                </tr>
                </table>
            </div>

        </div>
        </div>

        <br/>


    </form>
</div>
